:root {
  --primary-background: #f9f7fe;
  --secondary-color: #6c63ff;
  --pop-font: "poppins", sans-serif;
  --play-font: "Playfair Display", serif;
}
.hero {
  background: var(--primary-background);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h1 {
  font-size: 96px;
  font-family: var(--play-font);
}
.hero h2 {
  font-family: var(--pop-font);
  font-weight: normal;
  font-size: 24px;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
